<%= content_for(:script) do %>
  <%= javascript_pack_tag 'application' %>
<% end %>

<section id="party" data-playlist-id="<%= @playlist.id %>" data-user-id="<%= current_user.id if current_user.present? %>"></section>
