// Breakpoints
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

// Typography
$base-font-family: "Open Sans", "Helvetica", "sans-serif";
$heading-font-family: "Raleway", "Helvetica", "sans-serif";

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$primary: #1565c0;
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Colors
$green: #48a9a6;
$orange: #fe5f55;
$red: #e63462;
$black: #333745;
$white: #eef5db;

$bg-color: $green;

// Font sizes
$base-font-size: 70%;
$medium-font-size: 100%;

// Font Colors
$base-font-color: lighten($black, 10%);
$action-color: $red;

// Border
$base-border-color: darken($bg-color, 5%);
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
