.devise-sessions, .devise-registrations, .devise-passwords {
  align-items: center;
  display: flex;

  button, input[type="submit"] {
    width: 100%;
  }
}

.auth {
  @include grid-column(12);
}

@media (min-width: $medium-screen) {
  .auth {
    @include grid-column(6);
    @include grid-push(3);
  }
}
