.pages-home, .playlists-create {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    padding: modular-scale(1);
    text-align: center;

    h1 {
      margin: modular-scale(2);
    }
  }

  img {
    filter: brightness(0.3);
    width: 150px;
  }

  section {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 700px;
    padding: 0 modular-scale(1);
    text-align: center;
    width: 100%;
  }

  form {
    input {
      width: 100%;
    }
  }

  footer {
    text-align: center;
  }

  .home-links {
    display: flex;
    justify-content: center;

    li {
      padding: 0 1.5em;
      position: relative;

      &:after {
        content: "⦿";
        position: absolute;
        right: -6px;
        top: 5%;
      }

      &:last-child:after {
        content: '';
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .pages-home, .playlists-create {
    form {
      display: flex;

      .input {
        flex: 1 0;
      }

      input {
        height: 50px;
      }

      input[type="submit"] {
        flex: 0 1;
        margin-left: modular-scale(1);
      }
    }
  }
}
