.joins-index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  section {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 700px;
    padding: 0 modular-scale(1);
    text-align: center;
    width: 100%;

    .playlist {
      background: darken($bg-color, 5%);
      padding: $base-spacing;
      position: relative;
      text-align: left;

      header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: $base-spacing;
      }

      .author,
      .more-tracks {
        font-size: 0.85em;
        font-weight: lighter;
      }

      .more-tracks {
        margin: $small-spacing 0 0;
      }

      h2 {
        font-size: 1.1em;
        font-weight: normal;
        margin: 0;
      }
    }

    .playlist-infos {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .tracks-images {
      align-items: center;
      display: flex;
      flex-grow: 1;
      padding-right: $base-spacing;

      img {
        max-width: 100px;
        margin-right: $small-spacing;
      }
    }

    .playlist-link {
      bottom: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
