.container {
  margin: 0 auto;
  width: 100%;
}

.inline-links {
  display: flex;
  justify-content: center;

  li {
    padding: 0 1.5em;
    position: relative;

    &:after {
      color: lighten($base-font-color, 30%);
      content: "•";
      position: absolute;
      right: -3px;
    }

    &:last-child:after {
      content: '';
    }
  }
}

img.logo {
  filter: brightness(0.3);
}

.list-flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (min-width: $small-screen) {
  .container { width: 540px; }
}

@media (min-width: $medium-screen) {
  .container { width: 720px; }
}

@media (min-width: $large-screen) {
  .container { width: 960px; }
}

@media (min-width: $extra-large-screen) {
  .container { width: 1140px; }
}
