.playlists-show,
.parties-show {
  h1 {
    text-align: center;
  }

  .sharable-link {
    color: lighten($base-font-color, 10%);
    font-size: 0.9em;
    text-align: center;
  }

  section {
    margin:  auto;
    max-width: 700px;
    padding: modular-scale(1);
    width: 100%;
  }

  .autocomplete-suggestions {
    border: 1px solid shade($base-border-color, 10%);
    margin-top: 3px;
  }

  .autocomplete-suggestion {
    align-items: center;
    background: darken($bg-color, 3%);
    display: flex;
    padding: modular-scale(1);

    p {
      margin-left: modular-scale(1);
    }
  }

  .autocomplete-selected {
    background: darken($bg-color, 10%);
  }

  .search-track {
    margin-bottom: modular-scale(4);
  }

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: modular-scale(0);

    h3 {
      margin-bottom: 0;
    }
  }

  .track {
    align-items: center;
    border-top: 1px solid darken($bg-color, 10%);
    display: flex;
    padding: modular-scale(0);
    transition: border-radius ease 0.3s, transform ease 0.3s;

    img {
      border-radius: $base-border-radius;
      height: 50px;
    }

    p {
      flex-grow: 1;
      margin: 0 0 0 modular-scale(1);
    }

    .upvote {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      transition: transform ease 0.2s;
      padding: 10px;

      .fa {
        font-size: 1.3em;
      }

      &:hover {
        transform: scale(1.2);
      }

      &.upvoted {
        color: $red;
      }
    }

    &.active.playing {
      border-top: none;
      border-radius: 10px;
      transform: scale(1.1);
    }

    &.active {
      background: darken($bg-color, 10%);
    }

    &.played {
      border: none;
      height: 0;
      overflow: hidden;
      padding: 0;
    }
  }
}

#embed-player-wrapper {
  display: none;
}
