<p>Hello !</p>

<p>It seems that you've lost your password in middle of nowhere !</p>
<p>Don't worry, you can change it just by clicking on the following link (active only 6 hours) :</p>

<p><%= link_to 'Create a new password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>

<p>Enjoy :)</p>
